* {
  padding: 0px;
  margin: 0px;
  font: italic small-caps bold 16px/2;
}
body {
  color: black;
  background-color: rgb(241, 241, 241);
  text-align: center;
  justify-content: center;
}
.dark-theme {
  color: white;
  background-color: rgb(26, 20, 20);
}
button {
  width: 13rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: aqua;
  border: none;
  border-radius: 12px;
}
p {
  font-size: 1.2rem;
}

.navbar-nav {
    flex-direction: row;

    .dropdown-menu{
      position: absolute;
    }
}



.navbar-nav-scroll {
  overflow: visible;
}

.navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-toggler {
  display: none;
}
#icon{
  width:30px;
  cursor: pointer;
}

.mt-3{
    margin:15px;
}
.grid-container-fluid .row{
    display: grid;
    gap:30px 70px;
    grid-template-columns: auto auto auto;
    padding:20px;
}
.grid-container-fluid .row p{
    font-weight: bold;
}
.grid-container-fluid .row .card{
    box-shadow: 5px 10px 5px #3b2632;
    cursor:pointer;
    animation:transformations ease-in-out;

}
.grid-container-fluid .row .card:hover{
    transform:scale(1.1);
    
}
